.main__quiz {
    background: linear-gradient(90deg, #5041b2 0%, #7969e6 100%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    padding: 0 100px;
}

.wrapper {
    border: 2px solid #fff;
    min-width: 700px;
    padding: 20px;
    margin-top: 30px;
}

.main__title {
    font-size: 35px;
}

.wrapper__quiz {
    display: flex;
    justify-content: space-between;
}

.main__question {
    font-size: 20px;
}

.quiz-count {
    font-size: 16px;
}

